@import "outgame/eb9df5eeb514647c2061eb0deb26c6.css";
@import "outgame/8eb0908b8ad7243d2e6c1efb829232.css";
@import "outgame/f18de6efddc2c4fe6d29b8380d4905.css";
@import "outgame/0d1c3e71d059f84a4a95afb652ed1d.css";
@import "outgame/d22ddc446567b74f828e3cfa356f3b.css";
@import "outgame/175d13751348e190f1ff2a51466c5f.css";

/*
Old IE stylesheets, probably not needed anymore. Keeping them here for reference.
TODO: Remove these at a later time if they are not needed anymore.

<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="css/outgame/8203e97695e64d89c5ed0efca2dd55.css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="css/outgame/9253d1dbc4e5de58100a2db4b3b5b1.css" />
<![endif]-->
 */
/* Mobile-friendly overrides */
@media (max-width: 900px) {
    html,
    body {
        height: 100%;
        -webkit-text-size-adjust: 100%;
    }

    #header,
    #content,
    #contentWrap,
    #subscribe,
    #subscribeForm,
    #menu,
    .tabContent,
    #contentFooter {
        width: 100%;
        max-width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #subscribe {
        margin: 16px auto;
    }

    #subscribeForm {
        height: auto;
    }

    #tabs {
        width: 100%;
        margin: 0;
        float: none;
    }

    #tabs li {
        width: 33.3333%;
    }

    .tabContent {
        width: calc(100% - 20px);
        padding: 12px 10px;
        background-position: left top;
    }

    #login {
        position: static;
        margin: 16px auto 0;
    }
}
